.ng-hide, 
.ng-show {
   display: none !important;
}

body { 
  padding-top: 70px; 
  
  }
  
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.stockFirstRow > th {
  border: none !important;
}
[loading] {
  
  position:absolute;
  top: 0px;
  left: 0px;
   display: -moz-box;      /* OLD: Firefox (buggy) */ 
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
   display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

   -webkit-box-align: center; -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;

   -webkit-box-pack: center; -moz-box-pack: center; 
   -ms-flex-pack: center; 
   -webkit-justify-content: center;
   justify-content: center;

   margin: 0;
   height: 100%;
   width: 100%;
   background-color: #101010;
   color:#999;
   z-index: 999;
   font-size: 3em;
}
p.center-text-vert {
  width: 100%;
  display: table; 
}
.center-text-vert > span {
  display: table-cell; 
  vertical-align: middle; 
  
}

td.center, th.center {
  text-align: center;
}
td.right, th.right {
  text-align: right;
}
td.left, th.left {
  text-align: left;
}
.navbar-right > .dropdown {
  margin-right: 15px !important;
}

th[ng-click] {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.forecastNA, .demandNA, .stockChangeSame {
  background-color: #FCF8B8 !important;
}
.forecastAverage, .demandAverage {
  background-color: #F2E1AA !important;
}
.forecastGood, .demandHigh {
  background-color: #DFF5A2 !important;
}
.forecastPoor, .demandLow {
  background-color: #f9bf9f !important;
}

.forecastVeryGood, .stockChangeUp {
  background-color: #ADED7B !important;  
}

.forecastVeryPoor, .stockChangeDown {
  /*Very Poor*/
  background-color: #EB7F7F !important;  
}